$cta-color: #286cff;
$form-view: #f0f0f0;
$main-font: "Roboto";
$calig-font: "Pacifico";
$backup-font: sans-serif;
$cta-font-color: #f0f0f0;
$calig-color: #fda605;
$form-font-color: #222;
$border-color: #a7a7a7;

// changes

.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: $main-font, $backup-font;
  flex-direction: row;

  .cta-section {
    width: 50%;
    background-color: $cta-color;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;

    .cta-head {
      height: 70%;
      font-weight: bold;
      font-size: 38px;
      color: $cta-font-color;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p{
        margin: 0;
      }

      span{
        font-family: $calig-font, cursive;
        font-weight: lighter;
        color: $calig-color;
      }
    }

    .cta-des {
      height: 30%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $cta-font-color;
    }
  }

  .form-view {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .signup-link{
      display: inline-flex;
      height: 30%;
      order: 2;
      justify-content: center;
      span {
        color: $calig-color;
      }
    }

    .form {
      height: 70%;
      display: inline-flex;
      flex-direction: inherit;

      .form-title {
        height: 30%;
        font-weight: bold;
        font-size: 34px;
        display: inherit;
        align-items: flex-end;
        padding: 0 0 0 30%;
      }

      form {
        height: 70%;
        display: inherit;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;

        label{
          width: 40%;
          margin: 0 0 18px 0;
        }

        input{
          width: 40%;
          height: 36px;
          border: 1px solid $border-color;
          border-radius: 3px;
          padding: 4px 10px;
          box-sizing: border-box;
          margin: 0 0 18px 0;
        }

        button{
          width: 35%;
          height: 36px;
          border: 1px solid $border-color;
          border-style: hidden;
          border-radius: 18px;
          box-shadow: 1px 1px 6px $border-color;
          background-color: $cta-color;
          color: $form-view;
          font-weight: bold;
          font-size: 20px;
          margin-top: 18px;

          &:hover{
            cursor: pointer;
            width: 38%;
            height: 36px;
            border-radius: 18px;
            box-shadow: 2px 2px 6px $border-color;
          }
        }
      }
    }
  }
}
